.row
  .col-sm-4.text-center
    label By Skill
    div(pie-chart="" style="width:100%;height:360px;" data="skillData")
  .col-sm-4.text-center
    label By Level
    div(pie-chart="" style="width:100%;height:360px;" data="levelData")
  .col-sm-4.text-center
    label By Age
    div(pie-chart="" style="width:100%;height:360px;" data="ageData")